{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block content %}
    <form method="POST" class="form-card" enctype="multipart/form-data" action="{% url 'couriers' %}">
 
        <!-- Security token -->
        {% csrf_token %}
        <div class="form-fields">
        <!-- Using the formset -->
        {% for field in form %}
        {% if field.name == 'name' %}
            <div class="form-group">
                {{ form.name.errors }} 
                <label class="control-label">Name</label>
                <div>
                    {{ form.name }} 
                </div>
            </div>
        {% elif field.name == 'cpf' %}
            <div class="form-group">
                {{ form.cpf.errors }} 
                <label class="control-label">cpf</label>
                <div>
                    {{ form.cpf }} 
                </div>
            </div>
        {% elif field.name == 'email' %}
            <div class="form-group">
                {{ form.email.errors }} 
                <label class="control-label">Email</label>
                <div>
                    {{ form.email }} 
                </div>
            </div>
        {% endif %}

    {% endfor %}
    </div>       
        <input type="submit" value="Submit">
    </form>
   {% endblock %}
</body>
</html>
