{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block content %}
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Deliveries</b></h2>
					</div>
					<div class="col-sm-6">
						<a href={% url 'delivery_create' %} class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>						
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>total</th>
						<th>status</th>
						<th>courier</th>
					</tr>
				</thead>
				<tbody>
                    {% for delivery in deliveries %}
					<tr>
						<td>{{delivery.name}}</td>
						<td>{{delivery.total}}</td>
						<td>{{delivery.status}}</td>
						<td>{{delivery.courier}}</td>
						<td>
							<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
                    {% endfor %} 
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
			</div>
		</div>
	</div>        
</div>
{% endblock %}

</body>
</html>